/* $body-bg: rgb(201, 197, 197); */

@import "../node_modules/bootstrap/scss/bootstrap";

.container-fluid{
    font-family: Lucida Sans, sans-serif;
    .navbar-brand{
        font-size: 1.8em;
        font-family: Lucida Sans, sans-serif;
        color: rgb(0, 10, 0);
    }
    #navbarSupportedContent{
        li:hover{
            font-weight: bold;
        }
    }    
}
main {
    margin-top: 2em;
    .container {
        .row {
            h2 {
                text-align: center;
            }
            
        }

        .cardRooms {
            margin-top: 2em;
            h2 {
                text-align: center;
            }
            .card-group{
                margin-top: 2em;
                text-align: center;                      
            }
        }
        

    }
    
}

header {
    .container{
        
        #headImage{
            text-align: center;
            margin-top: 2em;                     
                                                        
        }
    }
}

footer {
    margin-top: 2em;
    font-family: Courier New, monospace;
    /* margin-top: 2em; */
    background-color: rgb(29, 29, 29);
    color: rgb(248, 247, 246);
    .upper_footer {
        display: flex;              
       
        .left_footer {
            display: flex;
            width: 50%;
            /* flex-wrap: wrap;
            align-content: stretch; */
            margin-left: 2em;            
            flex-direction: column;
            justify-content: stretch;
            text-align: center;
            

            p {
                font-size: 0.9em;
                color: rgb(145, 140, 130);
                margin-top: -1em;
            }            
            
            h3{
                font-size: 1.5em;
                cursor: pointer;
                margin-top: 1em;
                
            }
        }

        .right_footer {
            display: flex;
            width: 50%;
            align-items: center;                               
            flex-direction: row;
            justify-content: center;
            p {
                margin-top: 1.2em;
                font-size: 1.1em;
            }
            svg {                               
                width: 46px;
                border: solid 0.1em rgb(29, 29, 29);
            }
            ul {
                list-style: none;
              }
            li {
                display: inline-block;
                padding: 0.3em;                
            }
            svg:hover{                
                border: solid 0.1em white;                
            }

        }        
    }
    table {
        width: 100%;
        height: 80%;
        padding: 0.5em;
        margin: 0.5em;
        text-align: center;
        th {
            color: var(--primary-color);
            font-size: 1.2em;
            margin-bottom: 0.5em;
            font-family: Courier New, monospace;
        }
        td {
            cursor: pointer;
        }
        td:hover {
            text-decoration: underline;
            
        }
        
        tr {
            width: 80%;
            margin: 0.8em;
        }
        
    }
    p {
        text-align: center;
        margin-top: 1em;
        a {
            color:rgb(248, 247, 246);
        }       
    }
}


@media only screen and (max-width: 768px) {
    footer {
        .upper_footer {
            .left_footer {
                width: 40%;
                margin-left: 1em;
                p {
                    display: none;
                }
                /* h3 {
                    font-size: 1.2em;
                }  */                              
            }
            .right_footer {
                width: 60%;
            }
        }
    }  
}

@media only screen and (max-width: 580px) {         
      
    footer {
        .upper_footer {
            .left_footer {
                margin-left: 0;
                h3 {
                    font-size: 1.3em;
                }                
            } 
            .right_footer {
                p {
                    font-size: 1em;
                }
                svg {
                    size: 40%;
                }
            }       
        } 
    }   
}
 